/* Removes unneccesery scrollbars  */
.App .table-responsive {
  overflow: auto;
}

/* Styling for forms inside modal */
.modalForm .modal-content {
  background-color: #27293d;
}

.modalForm #exampleModalLabel {
  color: rgb(223, 217, 217);
}

.modalForm .form-group label {
  color: hsla(0, 0%, 100%, 0.6);
}
