/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.modal-dialog .modal-content {
  background-color: #27293d;
}

#exampleModalLabel {
  color: rgb(223, 217, 217);
}

.editOrderForm .form-group label {
  color: hsla(0, 0%, 100%, 0.6);
}
