/* Removes unneccesery scrollbars  */
.App .table-responsive {
  overflow: auto;
}

.modal-dialog .modal-content {
  background-color: #27293d;
}

#exampleModalLabel {
  color: rgb(223, 217, 217);
}

.editOrderForm .form-group label {
  color: hsla(0, 0%, 100%, 0.6);
}