.Modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.ModalContent {
  background-color: #e8dd5a;
  padding: 40px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 300px; */
}

.ModalContent form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.ModalContent form .Note-body {
  flex: 1;
}

/* .ModalContent input,
.ModalContent textarea {
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
  background-color: transparent;
  border: none;
  padding: 5px;
  border-bottom: 2px solid rgb(129, 136, 47);
} */
